	@charset "utf-8";
	@font-face {
		 font-family: AniversFont;
		 src: url("http://www.skmvasu.com/fonts/Anivers.eot") /* EOT file for IE */
	}
	@font-face {
		 font-family: Droid Sans;
		 src: url("http://www.skmvasu.com/fonts/DroidSans.eot") /* EOT file for IE */
	}
	

	@font-face {
		
		font-family: AniversFont;
		src: url('http://www.skmvasu.com/fonts/Anivers.otf');
	}
	
	@font-face {
		
		font-family: Droid Sans;
		src: url('http://www.skmvasu.com/fonts/DroidSans.otf');
	}

	
	
	::selection {
		background: #81d9f1; /* Safari */
		color:#222222;
	}
	::-moz-selection {
		background: #81d9f1; /* Firefox */
		color:#222222;
	}
	body{
		
		width: 100%;
		padding: 0px;
		margin:0px;
		font-family:'Droid Sans', arial, sans-serif;
		background: #307ece;

	}
	
	a, a:active	{
		text-decoration:none; 
		color:#307ece;
	
	}
	
	 a:hover
	{
		color: #000000;
	

	}

	p {
		
		font-size:14px;
		line-height:22px;
		
	}
		

	h1,h2,h3,h4,h5,h6 { 

		font-family:"AniversFont", Verdana, sans-serif;
		background: #81d9f1;
		font-weight:400;	
		padding: 5px 15px;		
	}
	
	 h1, h2, h3, h4, h5, h6, p, pre{
			color:#000000;
			text-shadow:1px 1px 0 #FDF8B9;
		}
		
		
	small
	{
		color:#000000;
		font:11px bold;
		display:block;
		margin-bottom:15px;
	}

	
	header{
		
		background: #307ece;
		width : 100%;
		margin: 0px;
		top: 0;
		overflow: hidden;
	
	}
	
	header img {
		border:none;
		float: left;
		width : auto;
		padding:10px;
		padding-left: 0px;
		
		
	}
	
	nav ul{
		padding:10px;
		
		
	
	}
	
	nav li{
		list-style-type:none;
		float:right;
		
		
					
	}
	
	nav li a{
		color: #FFFFFF;
		text-decoration:none; 
		font-size: 14px;
		padding :10px;
		display:block;

	
	}
	
	nav li a:hover, nav li a:active{

		color : #000000;
		background: #09F;
		border: 2px #0CF thin ;

	}
	
	nav li  a span{
	
		color:#000000;
		font-size: 12px;
		text-align:center;
		position:relative;
		width: 120px;
	}	
	
	nav li  a:hover span, 	nav  li  a:active span  {
	
		color: #FFFFFF;
	}
	
	
	.menu  a:hover :after {
			border-color:#09F transparent transparent;
			border-style:solid;
			border-width:15px;
			bottom:-35px;
			content:" ";
			display:block;
			height:0;
			position:absolute;
			width:0;


}


	section{
		width:94%;
		margin : 15px 3%;
		background:#FFFFFF;
		padding-bottom:25px;
		display:inline-block;

	
	}
	
	article.welcome{
		width: 97%;
		width: -moz-available;
		margin: 0px;
		background:#81d9f1;
		background-image: -moz-radial-gradient(center 45deg, circle closest-corner, #81d9f1 0%, #1a82f7 100%);
	    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#81d9f1));
		filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#81d9f1', endColorstr='#1a82f7'); /* IE6 & IE7 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#81d9f1', endColorstr='#1a82f7')"; /* IE8 */




	}
	

	article{
		width: 65%;
		float: left;
		text-align:justify;
		padding: 10px 20px 0 15px;		
		
	}

	article.block{
		margin: 10px;
		padding-bottom: 15px;
		width: 27%;
	    border:solid 1px #ccc; 
		min-height: 275px;
	
	}
	
	article.container{
		width: 26%;
		float: left;
		margin: 1%;
	}
	
	article.stblock{
		
		background: #f3f3f3;
		width: 98%;
		margin: 2%;
		border:solid 1px #ccc; 
		float: left;
		padding-bottom: 64px;
	}

		
	
		
    #links {
		background:  url(images/blog.png) no-repeat bottom right transparent;	

	}
	
	 #books	{
		background: url(images/books.png) no-repeat bottom right transparent;	
				
	}
	 #tweet	{
		background: url(images/twitter.png) no-repeat bottom right transparent;	
			
	}
	#movies	{
		background: url(images/movie.png) no-repeat bottom right transparent;			
	}
	
	#music	{
		background: url(images/music.png) no-repeat bottom right transparent;			
			
	}
	
	#shows	{
		background: url(images/show.png) no-repeat bottom right transparent;			
			
	}
	.line {
		background:url(images/line.png) repeat-x scroll 0 0 transparent;
		display:block;
		height:8px;
		width:100%;
		margin: 10px 0px;
}
	.resume{

		background:url(images/job.png)  no-repeat scroll left center transparent;
		padding: 20px 64px 20px 64px;
		display:block;
		font-family:"AniversFont", arial,sans-serif;
		font-size: 18px;
		font-weight:400;
		color:#307ECE;
		text-shadow:0px;
		
	}
	
	.resume a img{
		border: 0px;;
		vertical-align:middle;

	}
	
	.images{
		padding : 10px;
		display:block;
	}
	
	.images a img,	.images a:hover img{
		border:none;
		background:none;
		margin-right : 10px; 
		vertical-align:top;
	}
	.feature{
		width: 80px;
		height: 130px;
		overflow:hidden;
		border:8px  solid #ccc;
	    -moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
		margin:4px 0 10px 7%;
		float : left;
	}
	
	
	.feature:hover{
		border: 8px  solid #307ece;
	}
	
	.music{
		
		width: 100px;
		height: 100px;
		overflow:hidden;
		border:4px  solid #ccc;
	    -moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
		margin-left: 4%;
		margin-top:8px;
		margin-right:0px;
		float : left;
	}	
	
	.music:hover{
		border: 4px  solid #307ece;
	}
		
	h1.wel{
		font-family:'Droid Sans', arial,sans-serif;
		font-weight: 400;
		font-size : 95px;
		line-height:22px;
		padding-top: 35px;
		background: none;
		
		
	}
	
	h3.wel{
		font-family:'Droid Sans', arial,sans-serif;
		font-weight: 400;
		font-size : 25px;
		display: block;
		background:none;
	}
	
	aside{
		width: 28%;
		float: left;
		padding-right: 10px;
		padding-top: 10px;
	}

	.keyword{
		font-size:16px;
		font-weight:200	;
		color:#00c0ff;
		

	}

	.text_keyword{
		font-size:14px;	
		color:#008bb9;
	

	}
	.why{
		display: block;
		min-height:125px;
	}
	.why img{
		float: left;
		margin:5px;
		border:4px  solid #ccc;
	    -moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
		margin-left: 4%;
	}
	.why img:hover{
		border:4px  solid #307ece;
	    -moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
		
	}
	
	.spe{
		display: block;
		min-height: 17px;
	}
	
	.spe img{
		float: left;
		margin:5px;
	}
	
	.spe p{
		text-align:right;
	}
	 h1.about {	
		background:url(images/about.png)  no-repeat scroll left center transparent;				       
		padding:0 0 2px 64px;
		display:block;
		font-size: 36px;
		font-weight:300;
		color:#1cb8e9;
		text-shadow:0px;
		
	}
	
	 h1.fav {
		background:url(images/fav.png) no-repeat scroll left center transparent;
		padding:0 0 2px 70px;
		display:block;
		font-weight:300;
		font-size: 36px;
		color:#1cb8e9;
		text-shadow:0px;
		
	}
	
	 h1.hwhy {	
		background:url(images/why.png) no-repeat scroll left center transparent;
		padding:0 0 2px 70px;
		display:block;
		font-weight:300;
		font-size: 36px;
		color:#1cb8e9;
		text-shadow:0px;
		
	}
	 
	 h1.spec {	
		background:url(images/spec.png)  no-repeat scroll left center transparent;
		padding:0 0 2px 64px;
		display:block;
		font-size: 36px;
		font-weight:300;
		color:#1cb8e9;
		text-shadow:0px;
		
	}
	
	 h1.mail {
		background:url(images/mail.png) no-repeat scroll left center transparent;
		padding:0 0 2px 70px;
		display:block;
		font-weight:300;
		font-size: 36px;
		color:#1cb8e9;
		text-shadow:0px;
		
	}
	
	 h1.else {
		background:url(images/earth.png) no-repeat scroll left center transparent;
		padding:0 0 2px 70px;
		display:block;
		font-weight:300;
		font-size: 36px;
		color:#1cb8e9;
		text-shadow:0px;
		
	}
	
	
	
	small.heading {
		font-family:Verdana;
		font-size: 12px;
		display:block;
		padding-left:5px;
		color:#ffbf03;

	}
	
	footer{
		width:100%;	
		color: #FFFFFF;
	
	}
	#footer_twitter{
		background: url(images/tweet.png) no-repeat bottom right transparent;
		
	}
	#footer_friends{
		background: url(images/friends.png) no-repeat bottom right transparent;
		
	}
	#footer_copy{
		background: url(images/cc.png) no-repeat bottom right transparent;
	}
	#footer_copy p, #footer_copy p a{
		color: #FFFFFF;
		font-size:14px;
		line-height:2;
		text-shadow:0px;
		
	}
	#footer_copy a img{
		border:none;
		display: inline;
		
	}
	
	#footer_copy a:hover img,{

		border:none;
		background:none;
	}
	
	#footer_twitter blockquote{
			font-size:14px;
		line-height:2;
	}
	
	#footer_twitter a 
	{
		color: #FFFFFF;
		font-size:14px;
		line-height:2;
		;
	}
	#footer_friends a{
		color: #FFFFFF;
		font-size:14px; 
		line-height:2;
		
	}
	#primary li a:hover,div a:hover,p a:hover,#footer_friends a:hover, #footer_twitter a:hover, #footer_copy p a:hover {
		color: #000000;
		background:#81d9f1;
		padding: 5px;
		 font-size:14px;
		
	}

	
	.error_message{
		background:none;
		color: #000000;
	}
	
	/*Contact form*/
		
	#commentform fieldset,.wpcf7-form fieldset{
			border: none;
			width: 80%;
	}
	
	#commentform label, .wpcf7-form label{
		color:#333333;
		display:block;
		padding : 10px;
		text-align:left;
		
	
	}
	#commentform label{
		float: left;
		width: 200px;	
	}
	#comment form element.style,.wpcf7-form element.style {
		direction:ltr;
	}
	p #commentform, p .wpcf7-form {
		margin-bottom:8px;
		overflow:hidden;
	}
	
	#searchform input.text,#commentform input.text,#commentform textarea,.wpcf7-form input.text,.wpcf7-form textarea {
		border:2px solid #E6E6E6;
		font-size:14px;
		height: 22px;
		padding:8px;
		margin: 10px 15px;
		width:397px;
		
	}
	
	#searchform input.text:hover,#commentform input.text:hover,#commentform textarea:hover,.wpcf7-form input.text:hover,.wpcf7-form textarea:hover{
		border:2px solid #81d9f1;
	}
	
	#searchform input.text:focus,#commentform input.text:focus, #commentform textarea:focus,.wpcf7-form input.text:focus, .wpcf7-form textarea:focus{
		border:2px solid  #6699FF ;
	}
	
	#searchform input.text{
		width:80%;
		display:block;
	}
	#commentform input.required ,.wpcf7-form input.required {
		background:url(images/required.png) no-repeat scroll 359px 50% #FFFFFF;
		padding-right:64px;
		width:336px;
	}
	
		
	#commentform textarea,.wpcf7-form textarea {
		
		height:100px;
		font-size:16px;

	}
	
	
	a.add_comment,	#commentform input.submit,.wpcf7-form input.submit{
		clear:both;
		padding:10px;
		margin:15px;
		font-size:14px;
		background:#F0F0F0;
		border:1px solid #adadad!important;
	}
	a.add_comment:hover,#commentform input.submit:hover,.wpcf7-form input.submit:hover{
		clear:both;
		padding:10px;
		margin:15px;
		font-size:14px;
		color:#000000;
		background:#81d9f1;
		border:1px solid #333333!important;
	}

	
	.error span{
		 width: 500px;
		 display:block;
		 background: #f8dbdb;  
	 	 border:1px solid #e77776; 
		 padding : 5px;
		 margin: 5px;
	}
	
	.error span img{
		float: left;
		margin: 5px;
	}
	.valid p{
		 background: #E4F1C3
		 padding : 5px;
		 margin: 5px;
		 padding: 5px;
		 border: 1px solid #9EBF6D;
	}
	
	.valid p img{
		float: left;
		margin: 5px;
	}
	p.cntelse{
		display: block;
		padding: 12px;		
	}
	p.cntelse img{
		float: left;
		margin-right: 25px;
	
	}
	
/* Wordpress Specifics*/
	
	#primary li{
		list-style: none;
		padding-bottom: 10px;
		
	}
	span.post-cat{
		float: right;
		color: #333333;
		font-size:14px;
	}
	
	.post {
		clear:both;
		padding-top: 10px;
	}
	.cal  {
	
		float:left;
		font-size:12px;
		height:80px;
		width:80px;
		background: url(images/cal.png) left center no-repeat;

	}
	.month {
		color:#FFFFFF;
		font-size:11px;
		padding-left:13px;
		padding-top:15px;
		display:block;
	
	}
	.date {
		font-size: 24px;
		color: #000000;
		text-align: center;
		display:block;
		line-height: 16px;
		padding-top: 7px;
		margin-left: -3px;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{

		color: #000000;	
	
	}
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{

		color: #000000;	
		background: none;
		padding: 0px;

	}

	p.commentlist{
		background: #e3e3e3;
		border: 1px solid #c3c3c3;
		padding: 10px;
		margin: 5px;
	}
	
	cite{
		font-weight:bolder;
		color: #cccccc;
	}
	
	cite a{
		color:#276056;
		text-decoration:underline;
			
	}
	
	cite a:active, cite a:hover{
		color:#276056;
		text-decoration:none;
		background:none;
			
	}

	.navigation{
		display: block;

	}